{% extends 'layout.html' %}

{% block main %}
  <header class="text-center">
    <h1>Editar Tarea</h1>
  </header>
  <form method="POST" action="/edit/{{ task.id }}">
    <div class="mb-3">
      <label for="title" class="form-label">Título</label>
      <input name="title" type="text" class="form-control" id="title" placeholder="Titulo de la Tarea" value="{{ task.title }}" required />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripcion</label>
      <textarea name="description" type="text" class="form-control" id="description" required>{{ task.description }}</textarea>
    </div>
    <input class="btn btn-success" type="submit" value="Guardar" />
  </form>
  <div class="text-center">
    <a class="btn btn-warning" href="/">Volver a la lista de tareas</a>
  </div>
{% endblock %}
